* {
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 70px;
}

.input-container {
    display: flex;
    padding: 70px;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.input-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div input {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

div label {
    font-size: 20px;
}
.expense-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-expense {
    padding: 10px;
    background: green;
    font-size: 20px;
    color: #fcfcfc;
}